.listadoStock {
  margin: 2rem auto;
  .buscador {
    padding-top: 2rem;
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    input{
      width: 40%;
    }
  }
  .botones {
    background-color: lightgreen;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    button{
      border: none;
      border-radius: 7.5rem;
      padding: 1rem;

      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  .listar {
    margin-top: 1.4rem;
    table {
      border-collapse: collapse;
      caption {
        font-weight: bold;
        font-size: 2.4rem;
      }
      thead{
        tr{
          th{
            text-align: start;}
        }
      }
      width: 100%;

      .tbody {
        tr {
          border-bottom: 0.1rem solid black;
        }

        tr:hover{
          background-color: gray;
        }
      }
    }
  }
}
