.contenedor-modificarProducto {
  background-color: lightgreen;
  .formularioModificar {
    div {
      margin: 1rem auto;
      input {
        text-align: center;
        padding: 0rem;
      }
    }
    .formulario__campo{
      display: flex;
      flex-direction: column;
      align-items: center;

      label{
        font-size: 1.5rem;
      }
      #descripcion{
        width: 100%;
      }
    }
    .codigo {
      display: flex;
      justify-content: space-around;
    }
    .d-g {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      .unidad{
        select{
          width: 250%;
        }
      }
    }
    .marca {
      display: flex;
      justify-content: space-around;
    }

    .stock {
      display: flex;
      justify-content: center;
    }

    .costos {
      border: .1rem solid black;
      input {
        width: 50%;
        padding: 0.5rem;
      }
      &.none{
        display: none !important;
      }
      display: flex;
      justify-content: space-around;
    }
    .observaciones {
      display: flex;
      justify-content: center;
      input{
        width: 80%;
      }
    }
    .precioFinal {
      display: flex;
      justify-content: space-around;
    }
  }
  .botones {
    display: flex;
    justify-content: space-around;

    button {
      padding: 2rem;
      border-radius: 7.5rem;
      border: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
      }
    }
  }
}
