#iframe {
  width: 220mm;
  height: 165mm;
  position: fixed;
  top: 0px;
  left: -2rem;
  z-index: -1;
}

.bodyImprimir {
  font-size: 1.3rem;
  padding: 0;
  margin: auto 2rem;
  height: 100%;

.imprimir {

  .img{
    svg{
      width: 1rem;
    }
  }
  width: 100%;
  display: flex;
  flex-direction: column;

  .informacion {
    width: 100%;
    h3,
    p {
      margin: 0.2rem;
    }

    p {
      font-weight: 300;
      span {
        font-weight: normal;
      }
    }

    padding: 0rem 2rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    .grid-3 {
      grid-template-columns: 1.5fr 1fr 1fr;
    }
    .tipoFactura{
      width: 2rem;
      border: .1rem solid black;
      text-align: center;
      font-weight: normal;
      font-size: 2rem;
    }
    div{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
    }
    .abajo {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }
  }

  .informacionCliente {
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0;

    h4,
    p {
      margin: 0;
    }

    .nombre {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .domicilio {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr;
    }
  }

  .hojaGrande{
    height: 80vh !important;
  }

  .hojaMuyGrande{
    height: 120vh !important;
  }

  .tabla {
    height: 30rem;
    table {
      width: 100%;
      border-collapse: collapse;

      .thead  {
          border: 0.1rem solid black;
      }
      tbody {
        tr {
          .descripcion {
            text-align: start;
          }
          td {
            font-size: 1.3rem;
            text-align: center;
          }
        }
      }
    }
  }

  .total {
    p{
      font-weight: 100;
    }
    border: 0.1rem solid black;
    display: flex;
    justify-content: space-around;
    .flex-center{
      display: flex;
      justify-content: center;
      margin-left: 20rem;
      p{
        display: inline-flex;
      }
    }
    .flex-start {
      p {
        display: inline-flex;
        margin: 0;
      }
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flex-end {
      p{
        margin: 0;
        font-weight: 800;
      }
      align-items: center;
      margin-right: 2rem;
      width: 75%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .parrafo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    p{
      margin: 0;
    }
  }
  .detalle{
    height: 30rem;
    table{
      border-collapse: collapse;
      width: 100%;
      thead{
        border-top: .1rem solid black;
        border-bottom: .1rem solid black;
      }
      tbody{
        tr{
          text-align: center;
        }
      }

    }
  }
  .totalRecibo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label{
      font-weight: normal;
    }
    input{
      font-weight: normal;
      text-align: end;
    }
  }
}
}