.seccion-imprimir-ticket{
    .d-f{
        display: flex;
        p{
            margin-right: 2rem;
        }
    }
    p{
        margin: 0;
        font-size: 1rem;
    }
    ul{
        padding: 0%;
        list-style: none;
        li{
            font-size: 1rem;
        }
    }
    .seccionQR{
        display: flex; 
        justify-content: space-between;
    }
}