.seccionResumeCuenta{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2rem;
    
    .seccion-buscador{
        background-color: lightgreen;
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        .buscador{
            width: 15%;
        }
        .buscador,.nombreCliente{
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            font-weight: bold;
        }
        .fechas{
            display: flex;
            justify-content: space-around;
            .divFecha{
                display: flex;
                margin-left: 2rem;
                flex-direction: column;
            }
        }
    }
    .imagen{
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 25rem;
        }
        p{
            margin: 0;
        }
        h3{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0.1rem;
            border-bottom: .1rem solid black;
        }
    }
    .cliente{
        color: black;
        p{
            font-weight: 100;
            margin: .5rem;
            span{
                font-weight: normal;
            }
        }
    }
    .informacionCliente{
        display: flex;
        justify-content: space-between;
    }
    main{
        color: black;
    }
    .seccionTabla{
        min-height: 20rem;
        table{

            width: 100%;
            border-collapse: collapse;
            thead{
                td{
                    font-weight: 500;
                }
            }
            .tbody{
                font-weight: 100;
                font-size: 1.3rem;
                text-align: start;
            }
        }
    }
    .saldoActual{
        display: flex;
        justify-content: flex-end;
        text-align: end;
        font-weight: 500;
        p{
            margin: 0;
        }
    }
    header{
        margin-top: 2rem;
        padding: 2rem 2rem 0 2rem;
        background-color: white;
    }
    main{
        padding: 0 2rem 0 2rem;
        background-color: white;
    }


    .m-0{
        margin: 0;
    }
    .p-0{
        padding: 0;
    }
    .volver{
        background-color: lightgreen;
        padding: 2rem;

        a{
            background-color: gray;
            border-radius: 7.5rem;
            padding: 1rem;
            color: white;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

    .mostrarNegro{
        background-color: black !important;
    }
}

