.hacerPedido {
  h1 {
    background-color: lightgreen;
    text-align: center;
    margin: 0;
  }
  .formularioPedido {
    background-color: lightgreen;
    padding-top: 3rem;
    padding-left: 0rem;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .listaProductos {
      background-color: white;
    }
    .cliente {
      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
          margin-right: 2rem;
        }
      }
      input {
        padding: 1.5rem;
      }
      display: flex;
      justify-content: space-around;
    }

    fieldset{
      width: 100%;

      .contenedorPedidos{
        display: flex;
        input{
          margin-right: 10rem;
        }
        #descripcion{
          width: 50rem;
        }
        #precio{
          width: 5rem;
        }
      }
    }
  }

  .tablaPedidos {
    margin: 0;
    overflow: scroll;
    @include Chico(){
      height: 50rem;
    }
    @include Comun(){
      height: 52rem;
    }
    @include P900(){
      height: 62rem;
    }
    @include P950(){
      height: 65rem;
    }
    height: 60rem;
    border: 0.1rem solid black;
    background: white;
    .table {
      width: 100%;
      border-collapse: collapse;
    }
  }

  .botonesPedidos {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;

    .botonesPedidos-boton {
      background-color: lightgray;
      border: none;
      border-radius: 7.5rem;
      padding: 2rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

//pagina de ver los pedidos
.contenedor-verPedidos {
  padding: 1rem;

  h1 {
    text-align: center;
  }
  .tablaPedidos {
    @include Chico(){
      height: 57rem;
    }
    @include Comun(){
      height: 60rem;
    }
    @include P900(){
      height: 72rem;
    }
    @include P950(){
      height: 75rem;
    }
    height: 45rem;
    overflow: scroll;
    border: 0.1rem solid black;
    .verPedido {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          background-color: lightgreen;
          padding: 1.2rem;
          border: 0.1rem solid black;
        }
      }
      .tbody {
        tr {
          max-height: 2rem;

          td {
            border: 0.1rem solid black;
            padding: 1rem;
          }
          .stock,.cantidad{
            text-align: end;
          }
          &:hover {
            cursor: pointer;
            background-color: lightgray;
          }
        }
      }
    }
  }

  .botonesPedidos {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    background-color: lightgreen;

    .boton-pedidos {
      background-color: lightgrey;
      border: none;
      border-radius: 7.5rem;
      padding: 2rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  .seleccionado {
    background-color: lightgray;
  }
}
