.cargarFactura{
    h1{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .nombre{
        grid-template-columns: repeat(1,1fr);
    }
    main div{
        label{
            display: inline-block;
            width: 80%;
        }
        #nombre{
            width: 80%;
        }
    }
    main{
        margin: .2rem 0;
    }
}