.cargarFactura{
    .textoFinal{
        text-align: end;
    }
    h1{
        text-align: center;
    }
    section:not(.botones){
        display: flex;
        flex-direction: column;
    }
    main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .nombre{
        grid-template-columns: repeat(1,1fr);
    }
    main div{
        label{
            display: inline-block;
            width: 80%;
        }
        #nombre{
            width: 80%;
        }
        &.puntoYNumero{
            display: flex;
        }
    }
    main{
        margin: .2rem 0;
    }

    .botones{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
    
        button{
            border-radius: 7.5rem;
            border: none;
            font-size: 2rem;
            padding: 1rem;
    
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

