.seccionCancelados {
  .buscador {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
  }

  .listar {
    height: 90vh;
    overflow: scroll;
    border: 0.1rem solid black;
    table {
      border-collapse: collapse;
      width: 100%;
      thead {
        tr {
          font-weight: bold;
          border: 0.1rem solid black;
        }
      }
      .tbody {
        margin-top: 0.5rem;
        tr {
          .total,.cliente{
            font-weight: 900;
          }
          .vendedor{
            text-align: center;
          }
          &:hover {
            border-bottom: 0.1rem solid black;
            cursor: pointer;
            background-color: lightgray;
          }
        }
      }
    }
  }
}
