.emitir {
  padding: 0;
}

.tdEnd{
  text-align: end;
}

.emitirComprobante {
  &.mostrarNegro {
    background-color: black;
  }
  width: 100%;
  .parteAfip{
    margin-top: 1.5rem;
  }
  .buscarAfip { 
    background-color: lightgrey;
    padding: 1.5rem;
    border-radius: 7.5rem;  

    &:hover{
      cursor: pointer;
    }

  }
  background-color: gray;
  .formulario-verde {
    background-color: lightgreen;
  }
  .formulario-negro{
    background-color: black;
    color: white;

    button{
      color: white;
    }
  }

  .formularioFactura {
    #codigo,#precio,#descripcion {
      padding: 1rem;
    }
    #codigoC{
      width: 5rem;
    }
    .buscar{
      display: flex;
      .nombre{
        margin-left: 1rem;
      }

    }
    .arriba {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }

    .medio {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
    }

    .abajo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
    }

    .formulario__campo {
      margin-bottom: 0.5rem;
      #nombre{
        width: 35rem;
      }
      input {
        width: 90%;
      }
    }

    .select{
      display: flex;
      flex-direction: column  ;
    }

    .parteBuscar{
      display: grid;
      grid-template-columns: 3fr 1fr;
      .parte-producto{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
          display: flex;
          flex-direction: column;
        }

        .parte-producto_codigo,.parte-producto_precio{
          width: 10%;
        }
        .parte-producto_descripcion{
          width: 60%;
        }
      }


      .empresa{
        width: 50%;
        margin-left: 10rem;
        label{
          text-align: start;
          font-size: 2rem;
        }
        select{
          padding: 1rem;
        }

        display: flex;
        flex-direction: column;
      }
    }
  }
  .table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        background-color: rgb(255, 223, 223);
        td {
          border: 0.1rem solid black;
          font-size: 2rem;
        }

      }
    }
    tbody {
      tr {
        td {
          font-size: 2rem;
          margin: 0;
          border: 0.1rem solid black;
        }
        &:hover {
          cursor: pointer;
        }
        .totalP,.precioU{
         text-align: end;
        }
      }
    }

    .enNegro{
      color: black;
    }
  }

  .total {
    display: flex;
    padding-top: 1rem;
    .descuento {
      margin-left: auto;
    }
    .total__input {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
    }

    .usuario p {
      font-size: 1rem;
      margin: 0;
      padding: 1rem;
      border: 1px solid #000;
    }

    #total {
      font-weight: 900;
      font-size: 2.4rem;
      width: 70%;
    }
  }

  .tipoVenta {
    display: flex;
    justify-content: center;

    

    .form-check {
      margin-right: 2rem;
    }
  }

  label {
    font-size: 2rem;
    font-weight: 900;
  }

  .listaProductos {
    background-color: white;
    overflow: scroll;
    @include Chico(){
      height: 38rem;
    }
    @include Comun(){
      height: 42rem;
    }
    @include P900(){
      height: 50rem;
    }
    @include P950(){
      height: 55rem;
    }
    height: 30rem;
    border: 0.1rem solid black;
  }
  .opcional{
    display: flex;
    border: .1rem solid black;
    input{
      transform: scale(1) !important;
    }
  }
  .partefinal {
    
    display: flex;
    justify-content: space-between;

    .cobrado {
      input {
        padding: 1rem;
      }
    }
    .numeroFactura {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
    }

    .seccion-enviar {
      margin-top: 2rem;
      display: flex;
      align-items: center;

      .seccion-enviar-boton {
        
        margin-left: 5rem;
        p {
          margin: 0;
        }
        background-color: transparent;
        border: none;
        .seccion-enviar-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 2rem;
          margin-right: 2rem;
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(68, 206, 68);
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
.tipoVenta{
  .form-check{
    input{
      transform: scale(1.8);
      margin-right: .5rem;
    }
  }
}


.alerta{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200vh;
  height: 100vh;
  background-color: rgba(0,0,0,.5);

  .texto{
    p{
      font-size: 2rem;
    }
    color: white;
  }
}

.spinner{
  margin-left: 5rem;
  border: .4rem solid rgba(0,0,0,1);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border-left-color: transparent;

  animation: spin 1s linear infinite

}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}