.fechasVentana{
    .fechas{
        padding: 2rem;
        display: flex;
    }

    .hora{
        display: flex;
        justify-content: center;
    }
    .botones{
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        button{
            border: none;
            padding: 1rem;
            font-size: 1.5rem;
            border-radius: 7.5rem;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
        
    }
}