
.menuPrincipal {
  background-color: lightgray;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 122.08px;
    background-color: white;
    border-radius: 2.5rem;

    img {
      width: 10rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.listaPedidos {
  p{
    margin-right: .5rem;
    display: inline;
    font-size: 2rem;
  }
  padding-top: 1rem;
  padding: 0;
  button {
    border: none;
    padding: 1.5rem 3rem;
    background-color: white;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    margin: 2rem;
    a {
      width: 100%;
      font-size: 2rem;
    }

    align-items: center;

    &:hover {
      background-color: lightgray;
    }
  }
}
.disable {
  display: none  !important;
}
.ayuda{
  display: flex;
  h3{
    background-color: lightgray;
    padding: 1rem;
    margin-right: 1rem;
    span{
      font-weight: normal;
    }
  }
}

.flecha{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-bottom: .45rem;
  border-top: solid .5rem;
  border-right: solid .5rem;
}

.flecha.abajo{
  transform: rotate(135deg);
}

.flecha.arriba{
  transform: rotate(315deg);
}


.boton{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .salir{
    margin-right: 10rem;
    border: .1rem solid black;
    border-radius: 7.5rem;
    padding: 1rem;
    font-size: 3rem;
    &:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}