.emitirNota{

    .notaCredito{
        background-color: lightgreen;
        .none{
            display: none !important;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        .formulario__campo{
            display: flex;
            flex-direction: column;
            input,select{
                width: 90%;
            }
        }

        .arriba{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
                .buscar{
                    display: flex;
                    #codigoC{
                        width: 5rem;
                    }
                    .nombre{
                        margin-left: .5rem;
                        width: 55rem;
                    }
                }
        }
        .medio{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }

        .abajo{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }

        .productos-inputs{
            display: flex;
            justify-content: space-between;
            div{    
                display: flex;
                flex-direction: column;
            }
        }

        .listaProductos{
            overflow: scroll;
            height: 25rem;
            @include Chico(){
                height: 40rem;
            }
            @include Comun(){
                height: 45rem;
            }
            @include P900(){
                height: 55rem;
            }
            @include P950(){
                height: 60rem;
            }
            border: .1rem solid black;
            background-color: white;
            .table{

                border-collapse: collapse;
                width: 100%;
                thead{
                    tr{
                        background-color: #ffdfdf;
                    }
                    td{
                        border: .1rem solid black;
                    }
                }
                tbody{
                    td{
                        border: .1rem solid black;
                    }
                }
            }
        }
        #codigo{
            padding: 1rem;
        }
        .total{
            display: flex;
            justify-content: space-around;

            input{
                padding: .5rem;
            }
            #descuento{
                width: 15%;
            }
        }
        .radios{
            border: .1rem solid black;
            width: 50%;
            font-size: 2rem;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            .radio{
                input{
                    width: 100%;
                    height: 1em;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .botones{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-bottom: 1rem;

            button{
                background-color: lightgreen;
                border: none;
                &:hover{
                    transform: scale(1.2);
                    cursor: pointer;
                }
                p{
                    margin: 0;
                }
            }
        }
    }   
}