.Cliente {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .buscador {
    background-color: lightgreen;
    padding: 2rem 0rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    label {
      padding-left: 12rem;
      font-size: 2.6rem;
      font-weight: bold;
    }

    input {
      padding: 1rem;
      font-size: 4rem;
      width: 35%;
    }
  }

  .contenedor-tabla {
    overflow: scroll;
    border: 0.1rem solid black;
    height: 45rem;
    @include Chico(){
      height: 47rem;
    }
    @include Comun(){
      height: 50rem;
    }
    @include P900(){
      height: 60rem;
    }
    @include P950(){
      height: 65rem;
    }

    .tabla {
      background-color: white;
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: lightgreen;

        tr {
          th {
            border: 0.1rem solid black;
            font-size: 2.4rem;
            padding: 0.5rem 0;
          }
        }
      }
      th{
        cursor: pointer;
      }

      table th.resizing {
        cursor: col-resize;
    }

      tbody {
        .seleccionado{
          background-color: rgb(0, 238, 255) !important;
        }
        .subseleccionado{
          background-color: rgb(47, 120, 129);
        }
        tr {
          padding: 2rem
          td {
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
          }

          td,
          th {
            font-size: 2.2rem;
            border: 0.1rem solid black;
            overflow-x: hidden;
            max-width: 15rem;
            white-space: nowrap;
          }


          &:hover,
          .seleccionado {
            cursor: pointer;
          }
        }
      }
    }
  }

  .botones-clientes {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: lightgreen;
    

    .boton-cliente {
      margin: 0;
      background-color: lightgray;
      border: none;
      border-radius: 7.5rem;
      padding: 1.5rem;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

/*arreglar Saldo*/
.arreglarSaldo{
  h1{
    text-align: center;
  }
  .none{
    display: none;
  }

  .saldos{
    display: flex;
    justify-content: space-between;
    input{
      text-align: end;
    }
  }
  .inputs{
    display: flex;
    flex-direction: column;
    .codigo{
      width: 30%;
      
    }
    .nombre{
      width: 100%;
    }
    main{
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }
  }

  .botones{
    display: flex;
    justify-content: space-around;
    button{
      padding: 1rem;
      font-size: 2rem;
      border-radius: 7.5rem;
      border: none;
      &:hover{
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

}