.mostrarNegro{
  background-color: black !important;
}
.consultaCtaCte {
  display: flex;
  flex-direction: column;
  .buscador {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
    padding: 1rem;
    padding-bottom: 2rem;

    main{
      display: flex;
      flex-direction: column;
      #codigoCliente{
        width: 40%;
      }
      #buscador{
        width: 150%;
      }
    }

    .botones{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    label {
      font-size: 2.4rem;
      font-weight: bold;
      &.blanco{
        color: white;
      }
    }



    button,a {
      border-radius: 7.5rem;
      border: none;
      padding: 1rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
      }
    }
  }

  .listarventas {
    color: black;

    @include Chico(){
      height: 25rem;
    }
    @include Comun(){
      height: 30rem;
    }
    @include P900(){
      height: 35rem;
    }
    @include P950(){
      height: 40rem;
    }
    height: 20rem;
    overflow: scroll;
    border: 0.1rem solid black;
    background-color: white;
    table {
      border-collapse: collapse;
      width: 100%;
      thead {
        th {
          border: 0.2rem solid black;
          background-color: lightgreen;
        }
      }
      tbody {
        .seleccionado {
          background-color: lightgray;
        }      
        tr {
          .subseleccionado{
            background-color: gray;
          }
          td {
            border: 0.1rem solid black;
          }
          .saldo,.importe,.pagado{
            text-align: end;
          }
        }
        tr:hover {
          cursor: pointer;
          background-color: lightgray;
        }

        input{
          width: 100%;
        }
      }
    }
  }

  .listarDetalleVenta {
    color: black;
    background-color: white;
    @include Chico(){
      height: 35rem;
    }
    @include Comun(){
      height: 34rem;
    }
    @include P900(){
      height: 39rem;
    }
    @include P950(){
      height: 39rem;
    }
    height: 25rem;
    overflow: scroll;
    border: 0.1rem solid black;
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          border: 0.2rem solid black;
          background-color: lightgreen;
        }
      }
      tbody {
        td {
          border: 0.1rem solid black;
          text-align: center;
        }
      }
    }
  }


  .seccion_botones {
    background-color: lightgreen;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .botones {
      background-color: lightgray;
      border-radius: 7.5rem;
      border: none;
      padding: 1.5rem;
      margin: .5rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
      }
    }
  }
}
