.mostrarNegro{
  background-color: black;
}
.consultaCtaCte {
  display: flex;
  flex-direction: column;
  .buscador {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
    padding: 1rem;
    padding-bottom: 2rem;
    #buscador{
      width: 40%;
    }
    label {
      font-size: 2.4rem;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    button,a {
      border-radius: 7.5rem;
      border: none;
      padding: 1rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
      }
    }
  }

  .listarventas {

    @include Chico(){
      height: 25rem;
    }
    @include Comun(){
      height: 30rem;
    }
    @include P900(){
      height: 35rem;
    }
    @include P950(){
      height: 40rem;
    }
    height: 20rem;
    overflow: scroll;
    border: 0.1rem solid black;
    background-color: white;
    table {
      border-collapse: collapse;
      width: 100%;
      thead {
        th {
          border: 0.2rem solid black;
          background-color: lightgreen;
        }
      }
      tbody {
        tr {
          td {
            border: 0.1rem solid black;
          }
          .saldo,.importe,.pagado{
            text-align: end;
          }
        }
        tr:hover {
          cursor: pointer;
          background-color: lightgray;
        }
      }
    }
  }

  .listarDetalleVenta {
    background-color: white;
    @include Chico(){
      height: 35rem;
    }
    @include Comun(){
      height: 34rem;
    }
    @include P900(){
      height: 39rem;
    }
    @include P950(){
      height: 39rem;
    }
    height: 25rem;
    overflow: scroll;
    border: 0.1rem solid black;
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          border: 0.2rem solid black;
          background-color: lightgreen;
        }
      }
      tbody {
        td {
          border: 0.1rem solid black;
          text-align: center;
        }
      }
    }
  }

  .seleccionado {
    background-color: lightgray;
  }

  .seccion_botones {
    background-color: lightgreen;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .botones {
      background-color: lightgray;
      border-radius: 7.5rem;
      border: none;
      padding: 1.5rem;
      margin: .5rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
      }
    }
  }
}
