.seccionLibroVentas{
    .oscuro{
        font-weight: 900;
        font-size: 1.8rem;
    }
    margin-top: 1rem;
    .buscador{
        display: flex;
        justify-content: space-around;

        .botones button{
            margin-right: 2rem;
            border-radius: 7.5rem;
            border:none;
            padding: 1.5rem;

            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
    main{
        height: 80vh;
        h2{
            text-align: center;
        }
        .borde{
            border: .1rem solid black;
        }
        .tabla{ 
            table{
                border-collapse: collapse;
                width: 100%;
                .tbody{
                    text-align: center;
                    font-size: 1.5rem;

                    .inicio{
                        text-align: start;
                    }
                    .final{
                        text-align: end;
                    }
                }
            }
        }
    }
}