.vendedores{
  display: flex;
  justify-content: space-around;
  .none{
    display: none;
  }
}
.main{

  .agregarUsuario {
    display: flex;
    justify-content: center;
    flex-direction: column;

  
    .inputUsuario {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    input {

      margin-right: 1rem;
      width: 70%;
    }
  }
  
  .botonEnviar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      background-color: lightsalmon;
      border: none;
      border-radius: 7.5rem;
      padding: .7rem;
      font-size: 1.5rem;
  
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
.listarUsuarios {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  list-style: none;
  li{

    text-align: center;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  h3 {
    // margin: 0;
    width: 50%;
    padding: 2rem 0;
    font-weight: normal;
    font-size: 1.5rem;
    border-radius: 7.5rem;
    border: .1rem solid black;
    background-color: lightgray;

    &:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}
