.buscarVentas {
  .invisible {
    visibility: hidden;
  }
  .seleccionar {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
  }
  .buscador {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;

    button{
      border: none;
      border-radius: 7.5rem;
      padding: 1.5rem;
      font-weight: bold;

      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  .numeros {
    display: flex;
    width: 150%;
    #primerNumero {
      width: 4%;
      padding: 0;
      height: 65%;
    }
    #segundoNumero {
      width: 7%;
      padding: 0;
      height: 65%;
    }
    input{
      font-size: 2rem;
      padding: 1rem;
    }
  }

  .listar {
    table {
      border-collapse: collapse;
      .titulo{
        font-weight: bold;
      }
      tr{
        th{
          text-align: start;
          width: 5%;
        }
      }
      caption {
        font-size: 2.4rem;
        font-weight: bold;
      }
      .tbody {
        tr:not(.total):not(.titulo){
          &:hover{
            background-color: lightgrey;
          }
          td{
            white-space: nowrap;
            resize: both;
            text-overflow: clip;
            padding: 0;
            border: .1rem solid black;

          }
        }
        h2 {
          margin: 0 auto;
        }
      }
      width: 100%;
    }
  }
}
