.buscarVentas {
  .none {
    display: none;
  }
  .seleccionar {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
  }

  .porNumero{
    display: flex;
    justify-content: space-around;
  }

  .buscador {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;

    button{
      border: none;
      border-radius: 7.5rem;
      padding: 1.5rem;
      font-weight: bold;

      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
 .tipoComp,.codComp{
  display: flex;
  flex-direction: column;
 }
  .numeros {
    width: 40%;
    display: flex;
    flex-direction: column;
    main{
      display: flex;
    }
    #primerNumero {
      width: 80%;
      padding: 0;
    }
    #segundoNumero {
      width: 110%;
      padding: 0;
    }
    input{
      font-size: 2rem;
    }
  }

  .listar {
    table{
      border-collapse: collapse;

      thead{
        th{
          border: .1rem solid black;
        }
      }
      tbody{
        td:not(.total td){
          text-align: end;
          border: .1rem solid black;
        }
        .total .tdTotal{
          text-align: end;
          border: .1rem solid black;
        }
      }
    }
  }
}