.presupuestos {
  display: flex;
  flex-direction: column;

  .buscador {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }

  .listar {
    margin-top: 1.5rem;
    width: 100%;
    table {
      border-collapse: collapse;
      caption {
        font-size: 2.4rem;
        font-weight: bold;
      }
      thead {
        tr {
          border: 0.1rem solid black;
        }
      }
      .total {
        width: 100%;
        text-align: end;
        font-weight: bold;
      }
      width: 100%;
    }
  }

  .botones {
    display: flex;
  }
}
