.presupuestos {
  display: flex;
  flex-direction: column;

  .buscador {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  h2{
    text-align: center;
  }
  .listar {
    margin-top: 1.5rem;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    border-top: none;
    border: .1rem solid black;
    table {
      border-collapse: collapse;
      caption {
        font-size: 2.4rem;
        font-weight: bold;
      }
      thead {
        tr {
          border: 0.1rem solid black;
        }
      }
      tbody{
        text-align: center;
      }
      .total {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2rem
      }
      width: 100%;
    }
  }

  .botones {
    display: flex;
  }
}
